.error {
  margin: 0 auto;
  text-align: center;
}

.error-title {
  color: firebrick;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.error-message {
  color: darkred;
  font-size: 1.6rem;
}
