.games-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  gap: 1rem;
  margin-bottom: 2.5rem;
  width: 100%;
  min-height: 40vh;
}
