@import '../../variables';

.game-card {
  border-radius: 10px;
  border: 2px solid $accent-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 20rem;
  max-width: 50rem;
}

.game-card__image-container {
  flex: 1;
  overflow: hidden;
}

.game-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card__text {
  height: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

// TODO: al titulo del juego ya no se le aplican los 3 puntos cuando sobrepasa una linea
.game-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  border: none;
  font-family: inherit;
  background-color: transparent;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  overflow: hidden;
  outline: none;
  white-space: nowrap;

  a {
    &:link,
    &:visited {
      color: $primary-color;
      text-decoration: none;
    }

    &:active,
    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}
